In [64]:
import pandas as pd
import numpy as np

live = pd.read_csv('live.csv')
duke = pd.read_csv('duke.csv')
live.head()

,Symbol,Strategy,Side,Shares,DateIn,TODIn,OrderIn,TypeIn,QtyIn,PriceIn,...,SlipOut,PctPL,DlrPL,TradeSym,Margin,ShortRate,OrderHeld,DiscPct,Cancelled,Filled
0,FEMY,MOO_micro,1,635,12-Apr-22 3:53:02 PM,Intraday,7195,LMT,635,1.6600,...,0.0,0.00000,0.000000,NaN,1.0,20.0742,False,0,False,True
1,INZY,MOO_micro,1,228,12-Apr-22 3:42:55 PM,Intraday,7194,LMT,228,3.8500,...,0.0,0.00000,0.000000,NaN,1.0,9.0277,False,0,False,False
2,CRXT,MOO_micro,1,1252,12-Apr-22 3:32:37 PM,Intraday,7191,LMT,1252,0.8398,...,0.0,0.00000,0.000000,NaN,1.0,42.7966,False,0,False,True
3,COSM,MOO_micro,1,786,12-Apr-22 2:14:12 PM,Intraday,7181,LMT,786,1.3500,...,0.0,0.00000,0.000000,NaN,1.0,13.5710,False,0,False,True
4,AXSM,MOC1_RUT,1,70,12-Apr-22 1:43:57 PM,Intraday,7179,LMT,70,37.9500,...,0.0,0.01054,27.294195,NaN,1.0,0.4817,False,0,False,True

In [65]:
# where strategy is not MOO_micro
live = live[live['Strategy'] != 'MOO_micro']

# first day 1/21/2022 with duke
# last day 4/12/2022 with duke
live.DateIn = pd.to_datetime(live.DateIn)
duke.DateIn = pd.to_datetime(duke.DateIn)

# # remove all live trades before 1/21/2022
live = live[live.DateIn >= ('2022-01-21')]


live.head()

,Symbol,Strategy,Side,Shares,DateIn,TODIn,OrderIn,TypeIn,QtyIn,PriceIn,...,SlipOut,PctPL,DlrPL,TradeSym,Margin,ShortRate,OrderHeld,DiscPct,Cancelled,Filled
4,AXSM,MOC1_RUT,1,70,2022-04-12 13:43:57,Intraday,7179,LMT,70,37.950000,...,0.0,0.010540,27.294195,NaN,1.00,0.4817,False,0,False,True
5,FULC,MOC1_RUT,1,157,2022-04-12 13:23:32,Intraday,7178,LMT,157,16.970000,...,0.0,-0.034178,-92.154091,NaN,1.00,0.2745,False,0,False,True
7,FULC,MOC2_RUT,1,154,2022-04-12 12:55:32,Intraday,7175,LMT,154,17.249918,...,0.0,-0.049851,-133.538385,NaN,1.00,0.2745,False,0,False,True
11,CTLT,MOC1_RUI,1,25,2022-04-12 10:37:08,Intraday,7161,LMT,25,104.020000,...,0.0,-0.038070,-99.721522,NaN,0.25,0.2500,False,0,False,True
12,ROST,S_MOC1,-1,20,2022-04-12 10:04:22,Intraday,7155,LMT,20,103.350000,...,0.0,0.011224,22.491344,NaN,0.30,0.2500,False,0,False,True

In [66]:
duke.head()

,Symbol,Strategy,Side,Shares,DateIn,TODIn,OrderIn,TypeIn,QtyIn,PriceIn,...,SlipOut,PctPL,DlrPL,TradeSym,Margin,ShortRate,OrderHeld,DiscPct,Cancelled,Filled
0,FULC,MOC1_RUT,1,7728,2022-04-12 13:23:38,Intraday,3325,LMT,7728,16.934803,...,0.0003,-0.032125,-4283.170649,NaN,1.00,0.2745,False,2,False,True
1,FULC,MOC2_RUT,1,7627,2022-04-12 12:58:14,Intraday,3323,LMT,7627,17.241573,...,0.0002,-0.049265,-6556.299130,NaN,1.00,0.2745,False,2,False,True
2,GOGO,S_MOC1,-1,3600,2022-04-12 11:43:20,Intraday,3322,LMT,3600,22.510811,...,0.0002,-0.023064,-1905.961299,NaN,0.30,0.8241,False,2,False,True
3,CTLT,MOC1_RUI,1,1266,2022-04-12 10:37:54,Intraday,3319,LMT,1266,103.988152,...,-0.0001,-0.037679,-4973.850693,NaN,0.25,0.2500,False,0,False,True
4,FATE,MOC1_RUT,1,3100,2022-04-11 12:01:14,Intraday,3302,LMT,3100,35.399032,...,0.0000,0.012740,1366.030210,NaN,1.00,0.2611,False,0,False,True

In [67]:
print(len(live), 'live trades excluding other systems not tradable with paper limitations')
print(len(duke), 'paper trades')

print(round(live.PctPL.sum(), 4),' % PnL live excluding other systems not tradable with paper limitations')
print(round(duke.PctPL.sum(), 4),' % PnL paper ')
# note: not compunded

654 live trades excluding other systems not tradable with paper limitations
632 paper trades
2.2102  % PnL live excluding other systems not tradable with paper limitations
0.4933  % PnL paper

In [68]:
live = pd.read_csv('live.csv')
live = live[live.DateIn >= ('2022-01-21')]
print(round(live.PctPL.sum(), 4), ' % PnL with all live systems since competition began')
# note: not compounded

5.973  % PnL with all live systems since competition began