In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# set plot width here
plt.rcParams['figure.figsize'] = (15, 10)
from functions import import_data, check_contango
today = pd.to_datetime('today').strftime('%Y-%m-%d')



tickers = ['^VIX','^VIX3M', 'VXX']

VIX = import_data(tickers[0], '2010-01-01', today, '1d')
VIX3M = import_data(tickers[1], '2010-01-01', today, '1d')
VXX = import_data(tickers[2], '2020-01-01', today, '1d')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [5]:
# plot vix and vix3m for the past month
# plt.plot(VIX[-10:].index, VIX[-10:]['Close'], label='VIX')
# plt.plot(VIX3M[-10:].index, VIX3M[-10:]['Close'], label='VIX3M')
# plt.legend()
# plt.show()
VIX

                 Open       High        Low      Close  Adj Close  Volume
Date
2010-01-04  21.680000  21.680000  20.030001  20.040001  20.040001       0
2010-01-05  20.049999  20.129999  19.340000  19.350000  19.350000       0
2010-01-06  19.590000  19.680000  18.770000  19.160000  19.160000       0
2010-01-07  19.680000  19.709999  18.700001  19.059999  19.059999       0
2010-01-08  19.270000  19.270000  18.110001  18.129999  18.129999       0
...               ...        ...        ...        ...        ...     ...
2022-03-14  31.030001  33.180000  30.059999  31.770000  31.770000       0
2022-03-15  33.130001  33.830002  29.570000  29.830000  29.830000       0
2022-03-16  29.020000  29.799999  26.290001  26.670000  26.670000       0
2022-03-17  26.510000  27.469999  25.250000  25.670000  25.670000       0
2022-03-18  26.360001  26.820000  23.850000  23.870001  23.870001       0

[3074 rows x 6 columns]

In [3]:
print(VIX['Close'].iloc[-1])
print(VIX3M['Close'].iloc[-1])

31.770000457763672
33.31999969482422

In [4]:
type(VIX3M['Close'].iloc[-1])

numpy.float64

In [5]:
def apply_contango(df1, df2):
    '''
    Generate a list of dates with contango.
    '''
    temp = pd.Series
    # give temp index of df1
    temp.index = df1.index
    # compare each Close price on each index
    for i in range(len(df1)):
        temp.iloc[i] = check_contango(df1['Close'].iloc[i], df2.iloc['Close'][i])
        
    return temp

In [8]:
df_master = pd.DataFrame(index=VIX.index)
df_master['VIX'] = VIX['Close']
df_master['VIX3M'] = VIX3M['Close']
df_master['Contango'] = df_master['VIX'] < df_master['VIX3M']

In [9]:
df_master

                  VIX      VIX3M  Contango
Date
2020-01-02  12.470000  15.190000      True
2020-01-03  14.020000  16.010000      True
2020-01-06  13.850000  15.920000      True
2020-01-07  13.790000  15.860000      True
2020-01-08  13.450000  15.400000      True
...               ...        ...       ...
2022-03-08  35.130001  35.000000     False
2022-03-09  32.450001  33.060001      True
2022-03-10  30.230000  31.520000      True
2022-03-11  30.750000  32.340000      True
2022-03-14  31.770000  33.320000      True

[554 rows x 3 columns]

In [7]:
# get VXX historical options data
VXX = import_data('VXX', '2010-01-01', today, '1d')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-01-25,110.639999,110.639999,110.639999,110.639999,110.639999,0
2018-01-26,110.639999,110.639999,110.639999,110.639999,110.639999,0
2018-01-29,116.800003,118.320000,116.800003,118.320000,118.320000,350
2018-01-30,123.160004,127.239998,121.959999,122.199997,122.199997,15825
2018-01-31,119.839996,122.720001,119.839996,122.599998,122.599998,2300
...,...,...,...,...,...,...
2022-03-14,26.209999,30.750000,25.450001,28.809999,28.809999,66570700
2022-03-15,30.889999,41.650002,28.700001,28.700001,28.700001,52589200
2022-03-16,29.540001,29.670000,25.889999,25.950001,25.950001,15644000
2022-03-17,26.400000,27.540001,25.799999,26.150000,26.150000,8647700
2022-03-18,27.379999,27.879999,24.639999,25.000000,25.000000,9688100